<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


<div class="todo-list">
  <div class="container">
    <div class="row">
    </div>
    <br>
    <div class="row">
      <div class="col-lg-1" style="text-align: center;">
        <h4>Index</h4>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <h4>Name</h4>
      </div>
      <div class="col-lg-2" style="text-align: center;">
        <h4>Start Time</h4>
      </div>
      <div class="col-lg-2" style="text-align: center;">
        <h4>End Time</h4>
      </div>
      <div class="col-lg-2" style="text-align: center;">
        <h4>Importance</h4>
      </div>
    </div>
    <div class="row" *ngFor="let item of unchecked | async; let index = index">
      <div class="col-lg-1" style="text-align: center;">
        <p>{{ index + 1 }}</p>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <p>{{ item.name }}</p>
      </div>
      <div class="col-lg-2" style="text-align: center;">
        <p>{{ item.start_time }}</p>
      </div>
      <div class="col-lg-2" style="text-align: center;">
        <p>{{ item.end_time }}</p>
      </div>
      <div class="col-lg-2" style="text-align: center;">
        <p *ngIf="item.importance==true">YES</p>
        <p *ngIf="item.importance==false">NO</p>
      </div>
      <div class="col-lg-1" style="text-align: center;">
        <label>
          <input  type="checkbox" [checked]="item.checked" (click)="changeStatus(item.name,item.checked)" class="checkbox">
        </label>
      </div>
      <div class="col-lg-1" style="text-align: center;">
        <button name="button" (click)="delItem(item.name)">Delete</button>
      </div>
    </div>
    <div class="row" *ngFor="let item of checked | async; let index = index">
      <div class="col-lg-1" style="text-align: center;">
        <p>{{ index + 1 + (unchecked | async)?.length }}</p>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <p style = "text-decoration:line-through">{{ item.name }}</p>
      </div>
      <div class="col-lg-2" style="text-align: center;">
        <p style = "text-decoration:line-through">{{ item.start_time }}</p>
      </div>
      <div class="col-lg-2" style="text-align: center;">
        <p style = "text-decoration:line-through">{{ item.end_time }}</p>
      </div>
      <div class="col-lg-2" style="text-align: center;">
        <p *ngIf="item.importance==true" style = "text-decoration:line-through">YES</p>
        <p *ngIf="item.importance==false" style = "text-decoration:line-through">NO</p>
      </div>
      <div class="col-lg-1" style="text-align: center;">
        <label>
          <input type="checkbox" [checked]="item.checked" (click)="changeStatus(item.name, item.checked)" class="checkbox">
        </label>
      </div>
      <div class="col-lg-1" style="text-align: center;">
        <button name="button" (click)="delItem(item.name)">Delete</button>
      </div>
    </div>
  </div>
</div>
